<!-- Define que el documento esta bajo el estandar de HTML 5 -->
<!doctype html>

<!-- Representa la raíz de un documento HTML o XHTML. Todos los demás elementos deben ser descendientes de este elemento. -->
<html lang="es">

<head>

  <meta charset="utf-8">

  <title> Login </title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">

  <!-- Link hacia el archivo de estilos css -->
  <link rel="stylesheet" href="login.component.css">

  <style type="text/css">

  </style>

  <script type="text/javascript">

  </script>

</head>

<body>

  <div id="contenedor">
    <div id="central">
      <div id="login">
        <div class="titulo">
          Login vendedor
        </div>
        <form id="loginform">
          <!-- <form  [formGroup]="loginGroup" (ngSubmit)= "formsubmit()">"  -->
          <input type="text" name="nombre" id="nombre" placeholder="nombre" required  [(ngModel)]="nombre">
          <!--  formControlName="usuario" -->

          <input type="password" placeholder="password" id="password" name="password" required  [(ngModel)]="password">

          <button type="submit" title="Ingresar" name="Ingresar"
          (click)="login()">Login</button>
          <!--  [routerLink]="['dashboard']"-->
        </form>
        <div class="pie-form">
          <a [routerLink]="['registro']">
            ¿No tenés Cuenta? Registrate
          </a>
        </div>

        <p *ngIf="usuario.token">
          <app-usuario-alerts [usuario]="usuario" (notify)="onNotify()">
          </app-usuario-alerts>
        </p>

        <div class="inferior"><label> {{mensaje}}</label>
        </div>

        <!--  <h4 *ngIf="errMsg">{{errMsg}}</h4>-->
      </div>
    </div>
  </div>

</body>

</html>