<div class="container my-4">
  <p class="font-weight-bold"></p>

  <p><strong>Dashboard </strong></p>

  <hr />

  <p class="font-weight-bold">Vendedor: {{ nombre_vendedor }}</p>

  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="venderGroup" (ngSubmit)="vender()">
            <label>Cliente:</label>
            <input
              type="text"
              name="cliente"
              id="cliente"
              required
              formControlName="cliente"
            />
            <!-- dos input de cantidad de adultos y niños -->

            <label>Cant. adultos</label>
            <input
              type="number"
              id="adultos"
              name="adultos"
              placeholder="1"
              min="1"
              max="10"
              formControlName="adultos"
            />
            <label>Cant. niños</label>
            <input
              type="number"
              id="ninos"
              name="ninos"
              min="1"
              max="10"
              formControlName="ninos"
            />

            <!--
            <input
              type="text"
              id="paquete_sel"
              name="paquete_sel"
              formControlName="paquete_sel"
              value="{{ paquete?.id }}"
              type="hidden"
              readonly
            /><br /><br />
            -->

            <!--
            <ul>
              <li *ngFor="let item of seleccionados" formControlName="paquete_sel">
                {{item.nombre}}
              </li>
            </ul>
            -->
            <p>
              <label>Paquetes</label>
              <select
                name="paquetes"
                [(ngModel)]="paquete"
                [ngModelOptions]="{ standalone: true }"
              >
                <option [value]="item" *ngFor="let item of paquetes">
                  {{ item.nombre }}
                </option>
              </select>
              <label>Seleccionado: {{ paquete?.nombre }}</label>
            </p>

            <div class="inferior" *ngIf="msg">
              <label> {{ msg }}</label>
            </div>
          </form>
        </div>
      </div>
      <button type="submit" title="Vender Paquete" name="Vender">
        Vender paquete
      </button>
    </div>

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <div class="card-header">Gráfica de:</div>
        <div class="card-body">
          <p>
            <select name="miselect" [(ngModel)]="paquete">
              <option [value]="item" *ngFor="let item of paquetes">
                {{ item.nombre }}
              </option>
            </select>
          </p>
          <label>{{ paquete?.nombre }}</label>
        </div>
      </div>
    </div>

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card">
        <div class="card-header">Gráfica de:</div>
        <div class="card-body"></div>
      </div>
    </div>
  </div>
  <!--Grid row-->
</div>
