<!-- Define que el documento esta bajo el estandar de HTML 5 -->
<!doctype html>

<!-- Representa la raíz de un documento HTML o XHTML. Todos los demás elementos deben ser descendientes de este elemento. -->
<html lang="es">

<head>

  <meta charset="utf-8">

  <title> Login </title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">

  <!-- Link hacia el archivo de estilos css -->
  <link rel="stylesheet" href="registro.component.css">

  <style type="text/css">

  </style>

  <script type="text/javascript">

  </script>

</head>

<body>

  <div id="contenedor">
    <div id="central">
      <div id="registro">
        <div class="titulo">
          Registro vendedor
        </div>
        <form id="registroform">
          <input type="text" name="usuario" id="login" placeholder="usuario"  [(ngModel)]="password" required="required">

          <input type="password" placeholder="password" id="password" name="password" [(ngModel)]="password" required="required">

          <input type="password" [(ngModel)]="confirmPassword" name="password"   placeholder="Repita el password"
          required="required"
        />

          <button type="submit" title="Ingresar" name="Ingresar"
          (click)="registro()">Registrarse</button>
        </form>

        <div id="formFooter">
          <a class="underlineHover" [routerLink]="['']">Regresar</a>
        </div>

      </div>
    </div>
  </div>

</body>

</html>